{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="mb-3 text-center warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3 text-center success">
				Vous êtes connecté en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Deconnexion</a>
			</div>
		{% endif %}

		<div class="container mt-5">
			<div
				class="row justify-content-center">

				<!-- Colonne pour l'image -->
				<div class="col-md-6 d-none d-md-block">
					<img src="{{ asset('images/website/registration.png') }}" class="img-fluid" alt="Image Description">
				</div>

				<!-- Colonne pour le formulaire d'inscription -->
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<h1 class="text-center">Connexion</h1>
						</div>
						<div class="card-body">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<label for="inputEmail">Email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							<div class="form-group mb-3">
								<label for="inputPassword">Password</label>
								<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
							</div>

							<div class="form-group d-flex justify-content-center">
								<button type="submit" class="btn button2">Se connecter</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>


	</form>
{% endblock %}
