{% extends 'base.html.twig' %}

{% block title %}Retro Rarities{% endblock %}

{% block body %}
<div class="container mt-4">
<!-- Hero Section -->
<div class="row mb-4">
    <div class="col-12 p-0">
        <div class="hero-banner d-flex justify-content-center align-items-center text-center ">
            <div>
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
                <p class="p-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>
    
    <!-- First Row of Cards with Images -->
    <h2 class="text-center text-white">Les derniers arrivés</h2>
    <div class="row mb-4">
    {% for product in products %}
    <div class="col-md-3">
        <a href="{{ path('app_products_display', {'id': product.id}) }}">
            <div class="card product-card">
                {% if product.image|length > 0 %}
                    {% set firstImage = product.image.first %}
                    <img class="card-img product-image" src="{{ asset('uploads/products/' ~ firstImage.path) }}" alt="{{ firstImage.alt }}">
                {% else %}
                    <img class="card-img product-image" src="https://via.placeholder.com/300.png/09f/fff" alt="Default Image">
                {% endif %}
                <div class="card-img-overlay product-info">
                    <h5 class="card-title text-white">{{ product.name }}</h5>
                    <p class="product-category">{{ product.categories.title }}</p>
                    <p class="product-price">{{ product.price }} €</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
    </div>
    
    <!-- Third Row of Individual Colored Cards -->
    <div class="row">
    <h2 class="text-center text-white">Les catégories</h2>
    {% for category in categories %}
        <div class="col-md-3 mb-4 last-arrived">
            <a href="{{ path('app_products_category', {'id': category.id}) }}" class="btn btn-glass">{{category.title}}</a>
        </div>
        {% endfor %}
    </div>

        <!-- First Row of Cards with Images -->
        {% if productsOnSale|length > 0 %}
    <h2 class="text-center text-white">Les promos</h2>
    <div class="row mb-4">
    {% for product in productsOnSale %}
        <div class="col-md-3">
            <a href="{{ path('app_products_display', {'id': product.id}) }}">
                <div class="card product-card mb-4">
                    {% if product.image|length > 0 %}
                        {% set firstImage = product.image.first %}
                        <img class="card-img product-image" src="{{ asset('uploads/products/' ~ firstImage.path) }}" alt="{{ firstImage.alt }}">
                    {% else %}
                        <img class="card-img product-image" src="https://via.placeholder.com/300.png/09f/fff" alt="Default Image">
                    {% endif %}
                    <div class="card-img-overlay product-info">
                        <h5 class="card-title text-white">{{ product.name }}</h5>
                        <p class="product-category">{{ product.categories.title }}</p>
                        <p class="product-price">Prix original : <del>{{ product.price }} €</del></p>
                        <p class="product-price">Prix remisé : {{ product.getEffectivePrice() }} €</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
    {% endif %}
</div>


{% endblock %}