{% extends 'base.html.twig' %}

{% block title %}Retro Rarities{% endblock %}

{% block body %}
<div class="container mt-4">
<!-- Hero Section -->
<div class="row mb-4">
    <div class="col-12 p-0">
        <div class="hero-banner d-flex justify-content-center align-items-center text-center" style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg'); height: 50vh;">
            <div>
                <h1>Titre de l'image</h1>
                <p>Description de l'image</p>
                <a href="#" class="btn btn-primary">Call to Action</a>
            </div>
        </div>
    </div>
</div>
    
    <!-- First Row of Cards with Images -->
    <h2 class="text-center text-white">Les derniers arrivés</h2>
    <div class="row mb-4">
    {% for product in products %}
    <div class="col-md-3">
        <a href="{{ path('app_products_display', {'id': product.id}) }}">
            <div class="card product-card">
                {% if product.image|length > 0 %}
                    {% set firstImage = product.image.first %}
                    <img class="card-img product-image" src="{{ asset('uploads/products/' ~ firstImage.path) }}" alt="{{ firstImage.alt }}">
                {% else %}
                    <img class="card-img product-image" src="https://via.placeholder.com/300.png/09f/fff" alt="Default Image">
                {% endif %}
                <div class="card-img-overlay product-info">
                    <h5 class="card-title text-white">{{ product.name }}</h5>
                    <p class="product-category">{{ product.categories.title }}</p>
                    <p class="product-price">{{ product.price }} €</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
    </div>
    
    <!-- Third Row of Individual Colored Cards -->
    <div class="row">
    <h2 class="text-center text-white">Les catégories</h2>
    {% for category in categories %}
        <div class="col-md-3 mb-4 last-arrived">
            <div class="card text-center">
                <div class="card-body border border-warning">
                    <h5 class="card-title">{{category.title}}</h5>
                    <a href="#" class="btn btn-edit">Voir</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

        <!-- First Row of Cards with Images -->
    <h2 class="text-center text-white">Les promos</h2>
    <div class="row mb-4">
    {% for product in productsOnSale %}
        <div class="col-md-3">
            <a href="{{ path('app_products_display', {'id': product.id}) }}">
                <div class="card product-card">
                    {% if product.image|length > 0 %}
                        {% set firstImage = product.image.first %}
                        <img class="card-img product-image" src="{{ asset('uploads/products/' ~ firstImage.path) }}" alt="{{ firstImage.alt }}">
                    {% else %}
                        <img class="card-img product-image" src="https://via.placeholder.com/300.png/09f/fff" alt="Default Image">
                    {% endif %}
                    <div class="card-img-overlay product-info">
                        <h5 class="card-title text-white">{{ product.name }}</h5>
                        <p class="product-category">{{ product.categories.title }}</p>
                        <p class="product-price">Prix original : <del>{{ product.price }} €</del></p>
                        <p class="product-price">Prix remisé : {{ product.getEffectivePrice() }} €</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}