
{% extends 'admin/base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des produits</h1>
    <a class="button2" href="{{ path('app_products_new') }}">Créer nouveau produit</a>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Nom</th>
                <th class="text-center">Description</th>
                <th class="text-center">Prix</th>
                <th class="text-center">Stock</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td class="text-center">{{ product.name }}</td>
                <td class="text-center">{{ product.description }}</td>
                <td class="text-center">
    {% set effectivePrice = product.getEffectivePrice() %}
    {{ product.price }} €
    {% if effectivePrice != product.price %}
        <br><strong>Prix Remisé :</strong> {{ effectivePrice }} €
    {% endif %}
</td>
                <td class="text-center">{{ product.stock }}</td>
                <td class="text-center">
                    <a href="{{ path('app_products_show', {'id': product.id}) }}" class="btn btn-watch btn-md mr-3">Voir</a>
                    <a href="{{ path('app_products_edit', {'id': product.id}) }}" class="btn btn-edit btn-md">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de produits trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
