
{% extends 'admin/base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des produits</h1>
    <a class="button2" href="{{ path('app_products_new') }}">Créer nouveau produit</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Color</th>
                <th>Size</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>
    {% set effectivePrice = product.getEffectivePrice() %}
    {{ product.price }}
    {% if effectivePrice != product.price %}
        <br><strong>Prix Remisé :</strong> {{ effectivePrice }}
    {% endif %}
</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.color }}</td>
                <td>{{ product.size }}</td>
                <td>
                    <a href="{{ path('app_products_show', {'id': product.id}) }}">Voir</a>
                    <a href="{{ path('app_products_edit', {'id': product.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
