{% extends 'admin/base.html.twig' %}

{% block title %}Gamme de produits{% endblock %}

{% block body %}
    <h1 class="text-center">Gamme de produits</h1>
    <a class="button2" href="{{ path('app_categories_new') }}">Créer nouvelle gamme</a>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Titre</th>
                <th class="text-center">Description</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td class="text-center">{{ category.title }}</td>
                <td class="text-center">{{ category.content }}</td>
                <td class="text-center">
                    <a href="{{ path('app_categories_show', {'id': category.id}) }}" class="btn btn-watch btn-md mr-3">Voir</a>
                    <a href="{{ path('app_categories_edit', {'id': category.id}) }}" class="btn btn-edit btn-md">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de gammes trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
