{% extends 'admin/base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>{{ category.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categories_index') }}" class="btn btn-watch">Retour a la liste de gammes</a>

    <a href="{{ path('app_categories_edit', {'id': category.id}) }}" class="btn btn-edit">Editer</a>

    {{ include('categories/_delete_form.html.twig') }}
{% endblock %}
