{% extends 'admin/base.html.twig' %}

{% block title %}Liste des promotions{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des promotions</h1>
    <a href="{{ path('app_sales_new') }}" class="button2">Créer nouvelle promo</a>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Titre</th>
                <th class="text-center">Remise %</th>
                <th class="text-center">Date de debut</th>
                <th class="text-center">Date de fin</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td class="text-center">{{ sale.message }}</td>
                <td class="text-center">{{ sale.discount }} %</td>
                <td class="text-center">{{ sale.dateBegin ? sale.dateBegin|date('d-m-Y') : '' }}</td>
                <td class="text-center">{{ sale.dateEnd ? sale.dateEnd|date('d-m-Y') : '' }}</td>
                <td class="text-center">
                    <a href="{{ path('app_sales_show', {'id': sale.id}) }}" class="btn btn-watch btn-md mr-3">Voir</a>
                    <a href="{{ path('app_sales_edit', {'id': sale.id}) }}" class="btn btn-edit btn-md">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de promotions trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
