{% extends 'admin/base.html.twig' %}

{% block title %}Promotions{% endblock %}

{% block body %}
    <h1>Promotions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sale.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ sale.message }}</td>
            </tr>
            <tr>
                <th>Remise %</th>
                <td>{{ sale.discount }} %</td>
            </tr>
            <tr>
                <th>Date de debut</th>
                <td>{{ sale.dateBegin ? sale.dateBegin|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ sale.dateEnd ? sale.dateEnd|date('d-m-Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sales_index') }}" class="btn btn-watch">Retour à la liste des promotions</a>

    <a href="{{ path('app_sales_edit', {'id': sale.id}) }}" class="btn btn-edit">Editer la promotion</a>

    {{ include('sales/_delete_form.html.twig') }}
{% endblock %}
