{% extends 'admin/base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des utilisateurs</h1>
    <a href="{{ path('app_user_new') }}" class="button2">Créer un nouvel utilisateur</a>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Email</th>
                <th class="text-center">Roles</th>
                <th class="text-center">Prénom</th>
                <th class="text-center">Nom</th>
                <th class="text-center">Pseudo</th>
                <th class="text-center">Adresse</th>
                <th class="text-center">CP</th>
                <th class="text-center">Ville</th>
                <th class="text-center">Date création</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if app.user and user.id != app.user.id %}
        <tr>
            <td class="text-center">{{ user.email }}</td>
            <td class="text-center">{{ user.roles ? user.roles|json_encode : '' }}</td>
            <td class="text-center">{{ user.firstName }}</td>
            <td class="text-center">{{ user.lastName }}</td>
            <td class="text-center">{{ user.pseudo }}</td>
            <td class="text-center">{{ user.adress }}</td>
            <td class="text-center">{{ user.zipcode }}</td>
            <td class="text-center">{{ user.city }}</td>
            <td class="text-center">{{ user.createdAt ? user.createdAt|date('d-m-Y') : '' }}</td>
            <td>
                <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-watch btn-md mr-3">Voir</a>
                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-edit btn-md">Editer</a>
            </td>
        </tr>
        {% endif %}
        {% else %}
            <tr>
                <td colspan="12">Pas d'utilisateurs trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
