
{# templates/user/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier le Profil{% endblock %}

{% block body %}
<div class="container mt-5 text-white">
    <h2>Modifier le Profil</h2>
    {{ form_start(form) }}

    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.adress) }}
    {{ form_row(form.zipcode) }}
    {{ form_row(form.city) }}
    {# Ajoutez d'autres champs si nécessaire #}

    {# Pour le champ de mot de passe, assurez-vous de gérer correctement la logique dans le contrôleur #}
    {{ form_row(form.new_password) }}

    <button type="submit" class="btn btn-primary">Mettre à jour</button>

{{ form_end(form) }}
</div>
{% endblock %}
